/*Accueil*/

.header-color {
    background-color: #f3e9f1;
}

.jumbotron {
    background-color: transparent;
}

.card {
    margin-bottom: 40px;
}

.btn-article {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}