/*Accueil*/

/*Header*/

.header-color {
    background-color: #f3e9f1;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}

/*Main*/

.jumbotron {
    background-color: transparent;
}

.card {
    margin-bottom: 40px;
}

.btn-article {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

/*Panier*/


.btn-commander {
    text-align: center;
}